.container-1{
    background: url("../Images/download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border: 1px solid black;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.container-1 input{
    color:black
}

html {
    width: 100%;
    height: 100%;
}
button, input, optgroup, select, textarea {
    margin: 0;
    
    color: black;
}
.Number_of_kms div{
    display: inline;
}